PORT=3003
# Para NATS
# separamos por coma ya que las variables de entorno pueden ser arrays
# NATS_SERVERS='nats://localhost:4222,nats://localhost:4223'
NATS_SERVERS='nats://localhost:4222'

# la api key secret 'Clave secreta' se genero aqui https://dashboard.stripe.com/acct_1TQwcI0FYG0LWgMf/test/apikeys
STRIPE_SECRET_KEY=
#testing
# STRIPE_ENDPOINT_SECRET=

# URL PARA GENERAR UN NUEVO STRIPE_ENDPOINT_SECRET O CAMBIAR LA URL DE ENPOINT A LA DE PRODUCCION: https://dashboard.stripe.com/acct_1TQwcI0FYG0LWgMf/test/workbench/webhooks/we_1TRE680FYG0LWgMfy4Q0ODXP
# si pasamos a produccion debemos ir a stripe y actualizar la url para colocar la url definitiva o de produccion, y luego actualizar la variable de entorno STRIPE_ENDPOINT_SECRET con el nuevo valor que se genere en stripe para ese endpoint de webhook
STRIPE_ENDPOINT_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/pagos/success
STRIPE_CANCEL_URL=http://localhost:3003/pagos/cancel